<h1>Pirates</h1>

<p>Name<%= @pirate.name %></p>
<p>Weight<%= @pirate.weight %> pounds</p>
<p>Height<%= @pirate.height %> inches</p>

<h1>Ship(s)</h1>
<h2><% @ship.each do |ship| %></h2>
<p>Name<%= ship.name %></p>
<p>Type<%= ship.type %></p>
<p>Booty<%= ship.booty %></p>
<% end %>

